/XJTLU-TC_Latex_Coursework_Template.log
/XJTLU-TC_Latex_Coursework_Template.blg
/XJTLU-TC_Latex_Coursework_Template.aux
/XJTLU-TC_Latex_Coursework_Template.out
/XJTLU-TC_Latex_Coursework_Template.toc
/XJTLU-TC_Latex_Coursework_Template.synctex.gz
/XJTLU-TC_Latex_Coursework_Template.bbl